<html>
  <head>
    <style>
      body {
        font-family: Times New Roman, serif;
        line-height: 1.6;
        padding: 20px;
        max-width: 800px;
        margin: 0 auto;
      }
      h1 {
        text-align: center;
        margin-bottom: 30px;
      }
      p {
        text-align: justify;
      }
      blockquote {
        margin-top: 40px;
        text-align: right;
      }
      .center {
        text-align: center;
      }
    </style>
  </head>
  <body>
    {{ renderedContent | safe }}
  </body>
</html>